.button {
	border-radius: 6px;
	text-align: center;
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.11);
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.11);
	box-shadow:0px 1px 2px rgba(0,0,0,0.11);
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
   	transition: all 500ms ease-out;
	&:hover {
		-moz-box-shadow:0px 0px 7px rgba(0,0,0,0);
		-webkit-box-shadow:0px 0px 7px rgba(0,0,0,0);
		box-shadow:0px 0px 7px rgba(0,0,0,0);
	}

}

.button__primary {
	background: $buttonGradient;
	color: $primaryColor;
	border: solid 1px $borderGradient;
}

.button__secondary{}


.button--small {
	padding: .3rem .75rem;
	font-size: 1em;
}

.button--medium { 
	padding: .6rem 1.5rem;
	font-size: 1.25em;
}