//Colors

$purple: #7688BF; //Purple
$lightPurple: #9DAAD2; //Light Purple
$lightGray: #7D7D7D; //Gray
$darkGray: #535353;
$buttonGradient: linear-gradient(rgba(255,255,255,1), rgba(249,248,248,1) );
$borderGradient: #E7E7E7;

//Typographic Colors

$headline: $darkGray;
$link: $purple;
$text: $lightGray;
