//Colors

$purple: #7688BF; //Purple
$background: #FBFBFB; //Background
$lightGray: #7D7D7D; //Gray
$borderGray: #EFEFEF; //Gray
$darkGray: #535354;
$buttonGradient: linear-gradient(rgba(255,255,255,1), rgba(249,248,248,1) );
$borderGradient: #E7E7E5;

//Typographic Colors

$headline: $darkGray;
$link: $purple;
$text: $lightGray;
