$colorLink: #5869A2; //Purple
$colorText: #7D7D7D; //Gray
$primaryColor: #FC80A0; //Pink
$darkGray: #535353;
$buttonGradient: linear-gradient(rgba(255,255,255,1), rgba(249,248,248,1) );
$borderGradient: #E7E7E7;
