@font-face {
  font-family: 'brandongrotesque';
  src: url('/fonts/brandongrotesque-light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/brandongrotesque-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/brandongrotesque-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/brandongrotesque-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/brandongrotesque-light.svg#svgbrandongrotesque') format('svg'); /* Legacy iOS */
    font-weight: 100;
    font-style: normal;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('/fonts/brandongrotesque-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/brandongrotesque-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/brandongrotesque-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/brandongrotesque-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/brandongrotesque-regular.svg#svgbrandongrotesque') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: '/fonts/brandongrotesque';
  src: url('/fonts/brandongrotesque-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/brandongrotesque-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/brandongrotesque-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/brandongrotesque-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/brandongrotesque-bold.svg#svgbrandongrotesque') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
}

@import url(http://allfont.net/allfont.css?fonts=montserrat-light);

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/montserrat-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat-regular.svg#svgbrandongrotesque') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}