#instantclick {
  display: none;
}

body {
  background-color: $background;
  font-size: 16px;
}

.container {
  max-width: 90%;
  height: 800px;
  position: relative;
  margin: 5em auto;
  background-color: red;
}
