#instantclick {
  display: none;
}

body {
  background-color: $background;
  font-size: 16px;
}


#particles-js {
  width: 100%;
  height: 100%;
  background-color: #FBFBFB;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.container {
  max-width: 85%;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;


  h1 {
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    color: #2853ff;
    font-weight: bold;
    font-size:  5em;
    text-align: left;
    width: 30%;
  }

  p {
    text-align: left;
    margin-top: 25px;
    font-size: 30px;
    font-family: 'karla', sans-serif;
    color: #898989;
    width: 40%;
    line-height: 1.4em;
  }

  .grid {
    border: solid 1px black;
    height: 400px;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;
  }

  .item-1 {
    background-color: blue;

  }
  .item-2 {
    background-color: red;


  }
  .item-3 {
    background-color: green;


  }
}
