#instantclick {
  display: none;
}

body {
  background-color: $background;
  font-size: 16px;
}

.container {
  max-width: 830px;
  position: relative;
  margin: 45px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.23);
}
