.main {
	.content {

		.about {
			position: relative;
  			top: 9em;
			left: 0;
			text-align: center;
			right: 0;
			clear: both;
			@include breakpoint(baby-bear only) {
					top: 1rem;
				}
			.logo {
				max-width: 1.9rem;
				position: relative;
				margin: auto;
				bottom: 25px;
				@include breakpoint(baby-bear) {
					max-width: 2rem;
				}
			}
			h1 {
			text-align: center;
			color: $darkGray;
			@include breakpoint(baby-bear) {
					font-size: 5rem;
				}

			}

			p  { 
				text-align: center;
				margin: 1.2rem auto 2rem auto;
				max-width: 550px;
				@include breakpoint(baby-bear ) {
					width: 85%;
				}
			}

			footer {
				text-align: center;
				display: block;
				margin: 5em auto;
				ul {
				list-style-type: none;
				display: inline-block;
				li {
					float: left;
					display: block;

					a {
						

   						img {
						max-width: 38%;
						-webkit-transition: all 500ms ease-out;
    					-moz-transition: all 500ms ease-out;
   						transition: all 500ms ease-out;
						&:hover {
							opacity: .5;
							transform: translateY(-0.3rem)
						}
					}

					}

					
				}


			}

			}

			

		}



	}


}