$headline-font-stack: 'Open Sans', Helvetica, sans-serif;
$body-font-stack: 'Inconsolata', Helvetica, sans-serif;

.headline {
	font-weight: 100;
	font-family: $headline-font-stack;
	color: $headline;
	&--small {font-size: 14px;}
	&--medium {font-size: 19px;}
	&--large {font-size: 25px;}
	&--xlarge {font-size: 64px;}
	&--center {text-align: center;}
	&--left {text-align: left;}
	&--right {text-align: right;}
}

.list {
	text-align: center;
	&--small {font-size: 1rem;}
	&--medium {font-size: 2rem;}
	&--large {font-size: 3.5rem; line-height: 2em;}
}

h1 {
	font-size: 48px;
	color: blue;
}



p {
	letter-spacing: .2px;
	font-weight: 400;
	line-height: 1.6rem;
	font-size: 18px;
	color: $text;
	margin: 30px auto;
	width: 70%;
	@include breakpoint(baby-bear) {
		font-size: 1.3em;
		line-height: 1.4em;
		width: 80%;
	}
}
