%fontspacing {
	letter-spacing: .5px;
	font-weight: 400;
	line-height: 1.6rem;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
	font-family: 'brandongrotesque';
}

p {
	@extend %fontspacing;
	font-size: 1.2em;
	color: $colorText;
	@include breakpoint(baby-bear) {
		font-size: 1.6em;
		line-height: 1.4em;
	}
}

 .hyperlink {	
 	@extend %fontspacing;
 	border-bottom: solid 2px transparent;
	color: $colorLink;
	padding-bottom: 4px;
	-webkit-transition: border-color 500ms ease;
 	-moz-transition: border-color 500ms ease;
  	 -o-transition: border-color 500ms ease;
  	-ms-transition: border-color 500ms ease;
    transition: border-color 500ms ease;  
	  	&:hover {
		border-bottom: solid 2px $primaryColor;
		padding-bottom: 4px;
		

  					
  					
  					}

  				}