.work {

	.content {

  		.samples {
			position: relative;
			top: 5rem;
			left: 0;
			text-align: center;
			right: 0;
			clear: both;
			@include breakpoint(small only) {
					top: 1rem;
				}

				ul {
					list-style-type: none;
          line-height: 5.8em;
					li {
						font-size: 3.5rem;
						.hyperlink {
							border-bottom: solid 4px transparent;
							&:hover {
								border-bottom: solid 4px $primaryColor;
							}

						}
					}
				}

			}
	}
}